div.gallery {
  border: 1px solid #777;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 12px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

a {
    text-decoration: none;
}

.responsive {
  padding: 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and ()

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.w3-top {
    background: #fff;
}

.header {
    padding-top: 5px;
    padding-left: 18px;
    padding-bottom: 3px;
}

.logotip {
    font-size: 24px;
    font-family: "Oswald";
    font-weight: 700;
    color: #3B91B4;
}